---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---

<ArticleLayout
  pageTitle="New York State, Offshore Wind Training · Work"
  headline="New York State, Offshore Wind Training"
  lede="A fully accessible portal for the New York State Energy Research and Development Authority (NYSERDA) to introduce citizens to career pathways and training opportunities in the growing offshore wind industry."
  articleClass="work"
>

  <div class="box overview">
    <h3 id="overview">Overview</h3>
    <p>A fully accessible portal for the New York State Energy Research and Development Authority (NYSERDA) to introduce citizens to career pathways and training opportunities in the growing offshore wind industry to help them jumpstart or further their careers.</p>
    <ul class="sheet">
      <li><strong>Website: </strong><a href="https://www.offshorewindtraining.ny.gov/">offshorewindtraining.ny.gov</a></li>
      <li><strong>Client:</strong> <a href="https://www.karpstrategies.com/">Karp Strategies</a> for <a href="https://www.nyserda.ny.gov/">The New York State Energy Research and Development Authority</a></li>
      <li><strong>Team:</strong> Next Solutions &amp; Karp Strategies</li>
      <li><strong>Role:</strong> Product Design, UI, UX and Interaction Design, Frontend Engineer</li>
      <li><strong>Tools:</strong> Figma, Trello, Git, ReactJS, SASS/CSS</li>
      <li><strong>Year:</strong> 2023</li>
    </ul>
  </div>

</ArticleLayout>
