---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---

<ArticleLayout
  pageTitle="Find Eddie the Skater · Work"
  headline="Find Eddie the Skater"
  lede="An isometric pixel art world"
  articleClass="work"
>

  <div class="box overview">
    <h3 id="overview">Overview</h3>
    <p>Virus Magazine was a weekly kids insert of Diario La Tercera. I was commissioned to illustrate a game for the kids from 6 to 12. I created a pixel art isometric world where every week they would find Eddie the skater and a bunch of other amazing characters.</p>
    <ul class="sheet">
      <li><strong>Client:</strong> La Tercera</li>
      <li><strong>Role:</strong> Illustration</li>
      <li><strong>Tools:</strong> Photoshop</li>
      <li><strong>Year:</strong> 2005</li>
    </ul>
  </div>

  <figure class="media image md">
    <img loading="lazy" src="/assets/work/find-eddie-the-skater/find-eddie-the-skater_001.png" alt="" />
    <figcaption>One of the 12 illustrations made for the magazine</figcaption>
  </figure>

  <figure class="media image md">
    <img loading="lazy" src="/assets/work/find-eddie-the-skater/find-eddie-the-skater_003.png" alt="" />
    <figcaption>Some of the characters kids could find in the game</figcaption>
  </figure>

  <figure class="media image md">
    <img loading="lazy" src="/assets/work/find-eddie-the-skater/find-eddie-the-skater_004.jpg" alt="" />
    <figcaption>Find Eddie the skater</figcaption>
  </figure>

  <figure class="media image md">
    <img loading="lazy" src="/assets/work/find-eddie-the-skater/find-eddie-the-skater_006.jpg" alt="" />
    <figcaption>How the game was displayed</figcaption>
  </figure>

  <figure class="media image md">
    <img loading="lazy" src="/assets/work/find-eddie-the-skater/find-eddie-the-skater_005.jpg" alt="" />
    <figcaption>Print detail</figcaption>
  </figure>

</ArticleLayout>
