---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---

<ArticleLayout
  pageTitle="ONE Data"
  headline="ONE Data"
  lede="A dynamic platform that provides robust data, data visualizations, and analysis on the world’s most pressing issues."
  articleClass="work"
>

  <div class="box overview">
    <h3 id="overview">Overview</h3>
    <p>Sidewalk Labs' mission is to radically improve quality of life in cities for all, as part of Google, they bring products to market that give cities and real estate decision makers the tools and information they need to make sustainable choices.</p>
    <ul class="sheet">
      <li><strong>Website: </strong><a href="https://www.sidewalklabs.com/">sidewalklabs.com</a></li>
      <li><strong>Client:</strong> Google Sidewalk Labs</li>
      <li><strong>Team:</strong> Next Solutions, Google Sidewalk Labs</li>
      <li><strong>Role:</strong> Product Design, UI, UX and Interaction Design, Frontend Engineer</li>
      <li><strong>Tools:</strong> Figma, Jirah, Trello, Github, ReactJS, TypeScript, CSS, Material UI</li>
      <li><strong>Year:</strong> 2017 – 2023</li>
    </ul>
  </div>

</ArticleLayout>
