---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---
<ArticleLayout
  pageTitle="Archdaily · Work"
  headline="Archdaily"
  lede="As product designer my role was to take new business and technological opportunities and make them available for our editors to work with. I created instruments, methodologies, and interfaces, and translated the needs to our development team."
  featuredSrc="/assets/work/archdaily/archdaily_010.jpg"
  featuredAlt="Archdaily"
  backHref="/work/"
  backLabel="Back to Work"
>
  <div class="box left"><h3>Overview</h3></div>
  <div class="box right">
    <p>As product designer my role was to take new business and technological opportunities and make them available for our editors to work with. I created instruments, methodologies, and interfaces, and translated the needs to our development team, thus improving our products every day. Our process:</p>
    <ol>
      <li>Understand business requirements</li>
      <li>Specify uses, cases and contexts</li>
      <li>Specify flows and interactions</li>
      <li>Model structure and functionalities</li>
      <li>Create prototypes</li>
      <li>Test prototypes</li>
      <li>Develop product
        <ol>
          <li>Design interface</li>
          <li>Develop backend</li>
        </ol>
      </li>
      <li>Implement</li>
      <li>Test</li>
      <li>Launch</li>
      <li>Improve</li>
    </ol>
    <p>My challenges were to combine interface design, frontend development, team management and IT coordination to create experimental interfaces that would help our editors to better understand their work and visualize their goals.</p>
    <p><strong>Website:</strong> <a href="https://www.archdaily.com/">https://www.archdaily.com/</a></p>
    <p><strong>Role:</strong> Product Design, UI, UX and Interaction Design, Frontend Engineer</p>
    <p><strong>Tools:</strong> Adobe Suite, Git, SASS/CSS, WordPress, PHP, Python</p>
    <p><strong>Year:</strong> 2012</p>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_009.png" alt="" /><figcaption>Logotype evolution and International uses</figcaption></figure>
  </div>
  <div class="box left"><h3>Branding</h3></div>
  <div class="box right">
    <p>Archdaily is one if not the most recognisable architecture websites in the world. It is the source of inspirations of millions of architects in many languages. The original logo was lost in the fast growth of the company so, with careful thought, we kept it as original as possible while also able to stand years of use and be flexible enough to be used in every language and context. Among other things I created a completely custom display font used for the logo.</p>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_006.png" alt="" /><figcaption>Archdaily Display, the font made for the logo</figcaption></figure>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_007.jpg" alt="" /><figcaption>Custom illustrations for animation and infographics</figcaption></figure>
  </div>
  <div class="box center">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_008.jpg" alt="" /><figcaption>Interface Icons</figcaption></figure>
  </div>
  <div class="box left"><h3>Product</h3></div>
  <div class="box right">
    <p>One of the biggest challenges was to integrate new features into the website. Given that it started as a WordPress blog, we created custom systems to extend the blog's functionality to allow users to save and organize content, businesses to upload their catalog and our editors to link new projects with materials and technologies.</p>
  </div>
  <div class="box center">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_005.png" alt="" /><figcaption>Wireframing</figcaption></figure>
  </div>
  <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_012.jpg" alt="" /><figcaption>Information Architecture</figcaption></figure>
  <div class="box center">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_001.jpg" alt="" /><figcaption>High Fidelity Prototype</figcaption></figure>
  </div>
  <div class="box center">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_002.jpg" alt="" /><figcaption>Interaction Design</figcaption></figure>
  </div>
  <div class="box center">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_011.jpg" alt="" /><figcaption>High Fidelity Prototype</figcaption></figure>
  </div>
  <div class="box left"><h3>Experience</h3></div>
  <div class="box right">
    <p>More importantly, we developed tools and instruments to simplify the process of creating content, focusing on seamless flows for Editors, Architects, Business, Firms, Schools and Readers to interact in a natural way.</p>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_004.png" alt="" /><figcaption>Map for submitting content</figcaption></figure>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/archdaily/archdaily_003.png" alt="" /><figcaption>Map for content interactions</figcaption></figure>
  </div>
</ArticleLayout>
