---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---

<ArticleLayout
  pageTitle="BCI Bank · Work"
  headline="BCI Bank"
  lede="BCI is one of the leading banks in digital banking in Chile. I was commissioned to work with them for a couple of months helping their in-house team to create digital experiences for two products, Personal Accounts and Mortgage Credits."
  featuredSrc="/assets/work/bci-bank/bci-bank_002.jpg"
  featuredAlt="BCI Bank"
  backHref="/work/"
  backLabel="Back to Work"
  articleClass="work"
>

  <div class="box overview">
    <h3 id="overview">Overview</h3>
    <p>BCI is one of the leading banks in digital banking in Chile. I was commissioned to work with them for a couple of months helping their in-house team to create digital experiences for two products, Personal Accounts and Mortgage Credits.</p>
    <p>My role was to facilitate the translation of their business needs into feasible interfaces that meet not only their business models but also their technology capabilities.</p>
    <p>Through wireframing and rapid prototypes we were able to test and move quickly to high fidelity prototypes that we tested with our clients.</p>
    <ul class="sheet">
      <li><strong>Website:</strong> <a href="http://www.bci.cl">http://www.bci.cl</a></li>
      <li><strong>Role:</strong> Product Design, UI, UX</li>
      <li><strong>Tools:</strong> Adobe Suite</li>
      <li><strong>Year:</strong> 2017</li>
    </ul>
    <a href="#outcomes">↓ Jump to the outcomes</a>
  </div>

  <figure class="image wp-caption alignnone">
    <img loading="lazy" src="/assets/work/bci-bank/bci-bank_001.jpeg" alt="" />
    <figcaption>Emotional Journey</figcaption>
  </figure>

  <div class="box">
    <h3>Planning</h3>
    <p>In order to create successful experiences I created basic archetypes that were easily usable to test our prototypes. I mapped all the business requirements and crosschecked them with business processes and marketing teams.</p>
  </div>

  <figure class="image wp-caption alignnone">
    <img loading="lazy" src="/assets/work/bci-bank/bci-bank_003.jpg" alt="" />
    <figcaption>User Archetypes</figcaption>
  </figure>

  <figure class="image wp-caption alignnone">
    <img loading="lazy" src="/assets/work/bci-bank/bci-bank_007.jpg" alt="" />
    <figcaption>CX prototype</figcaption>
  </figure>

  <figure class="image wp-caption alignnone">
    <img loading="lazy" src="/assets/work/bci-bank/bci-bank_005.jpg" alt="" />
    <figcaption>Content Mapping</figcaption>
  </figure>

  <div class="box">
    <h3>Prototyping</h3>
    <p>In order to test our proposal we created high fidelity prototypes to test, content, hierarchy, journeys and technological needs.</p>
  </div>

  <figure class="image wp-caption alignnone">
    <img loading="lazy" src="/assets/work/bci-bank/bci-bank_008.jpg" alt="" />
    <figcaption>Credit simulator prototype</figcaption>
  </figure>

  <figure class="image wp-caption alignnone">
    <img loading="lazy" src="/assets/work/bci-bank/bci-bank_006.jpg" alt="" />
    <figcaption>Landing Prototype</figcaption>
  </figure>

  <figure class="image">
    <img loading="lazy" src="/assets/work/bci-bank/bci-bank_004.jpg" alt="" />
  </figure>

</ArticleLayout>
