---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---
<ArticleLayout
  pageTitle="BCI Bank · Work"
  headline="BCI Bank"
  lede="BCI is one of the leading banks in digital banking in Chile. I was commissioned to work with them for a couple of months helping their in-house team to create digital experiences for two products, Personal Accounts and Mortgage Credits."
  featuredSrc="/assets/work/bci-bank/bci-bank_002.jpg"
  featuredAlt="BCI Bank"
  backHref="/work/"
  backLabel="Back to Work"
>
  <div class="box left"><h3>User experience</h3></div>
  <div class="box right">
    <p>BCI is one of the leading banks in digital banking in Chile. I was commissioned to work with them for a couple of months helping their in-house team to create digital experiences for two products, Personal Accounts and Mortgage Credits.</p>
    <p>My role was to facilitate the translation of their business needs into feasible interfaces that meet not only their business models but also their technology capabilities.</p>
    <p>Through wireframing and rapid prototypes we were able to test and move quickly to high fidelity prototypes that we tested with our clients.</p>
    <p><strong>Website:</strong> <a href="http://www.bci.cl">http://www.bci.cl</a></p>
    <p><strong>Role:</strong> Product Design, UI, UX</p>
    <p><strong>Tools:</strong> Adobe Suite</p>
    <p><strong>Year:</strong> 2017</p>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/bci-bank/bci-bank_001.jpeg" alt="" /><figcaption>Emotional Journey</figcaption></figure>
  </div>
  <div class="box left"><h3>Planning</h3></div>
  <div class="box right">
    <p>In order to create successful experiences I created basic archetypes that were easily usable to test our prototypes. I mapped all the business requirements and crosschecked them with business processes and marketing teams.</p>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/bci-bank/bci-bank_003.jpg" alt="" /><figcaption>User Archetypes</figcaption></figure>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/bci-bank/bci-bank_007.jpg" alt="" /><figcaption>CX prototype</figcaption></figure>
  </div>
  <div class="box center">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/bci-bank/bci-bank_005.jpg" alt="" /><figcaption>Content Mapping</figcaption></figure>
  </div>
  <div class="box left"><h3>Prototyping</h3></div>
  <div class="box right">
    <p>In order to test our proposal we created high fidelity prototypes to test, content, hierarchy, journeys and technological needs.</p>
  </div>
  <div class="box center">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/bci-bank/bci-bank_008.jpg" alt="" /><figcaption>Credit simulator prototype</figcaption></figure>
  </div>
  <div class="box full">
    <figure class="image wp-caption alignnone"><img loading="lazy" src="/assets/work/bci-bank/bci-bank_006.jpg" alt="" /><figcaption>Landing Prototype</figcaption></figure>
  </div>
  <div class="box center">
    <figure class="image"><img loading="lazy" src="/assets/work/bci-bank/bci-bank_004.jpg" alt="" /></figure>
  </div>
</ArticleLayout>
