---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---

<ArticleLayout
  pageTitle="Sidewalk Labs, Street Design Principles · Work"
  headline="Sidewalk Labs, Street Design Principles"
  lede="Translating a living document into a fully interactive website about street design principles for safer and more flexible cities."
  articleClass="work"
>


  <div class="box overview">
    <h3 id="overview">Overview</h3>
    <p><em>"Sidewalk Labs' mission is to radically improve quality of life in cities. The ability to confidently and comfortably ride a bike or meander down the street is critical to that mission. This living document proposes design principles that strive to harness these advances to create safer and more flexible streets."</em></p>
    <p>Translating a living document into a fully interactive website.</p>
    <ul class="sheet">
      <li><strong>Website: </strong><a href="https://www.sidewalklabs.com/">sidewalklabs.com</a></li>
      <li><strong>Client:</strong> <a href="https://en.wikipedia.org/wiki/Sidewalk_Labs">Sidewalk Labs / Alphabet</a></li>
      <li><strong>Team:</strong> Next Solutions</li>
      <li><strong>Role:</strong> UI, UX and Interaction Design, Frontend Engineer</li>
      <li><strong>Tools:</strong> Figma, Trello, Git, ReactJS, SASS/CSS</li>
      <li><strong>Year:</strong> 2020</li>
    </ul>
  </div>

  <div class="box">
    <h3 id="overview">Overview</h3>
    <p><a href="https://storage.googleapis.com/sidewalk-labs-com-assets/Sidewalk_Labs_Street_Design_Principles_v_1_16a155ce88/Sidewalk_Labs_Street_Design_Principles_v_1_16a155ce88.pdf">Street Design Principles (PDF)</a></p>
  </div>

  <figure class="media image">
    <img loading="lazy" src="/assets/work/sidewalk-labs-street-design-principles/sidewalk-labs-street-design-principles_002.png"/>
    <figcaption>Example of comparative graphs, with a custom geography quick selector, focusing on contrast and readability</figcaption>
  </figure>
  <figure class="media image">
    <img loading="lazy" src="/assets/work/sidewalk-labs-street-design-principles/sidewalk-labs-street-design-principles_003.png"/>
    <figcaption>Example of comparative graphs, with a custom geography quick selector, focusing on contrast and readability</figcaption>
  </figure>
  <figure class="media image">
    <img loading="lazy" src="/assets/work/sidewalk-labs-street-design-principles/sidewalk-labs-street-design-principles_004.png"/>
    <figcaption>Example of comparative graphs, with a custom geography quick selector, focusing on contrast and readability</figcaption>
  </figure>

</ArticleLayout>