---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---
<ArticleLayout
  pageTitle="Technology is hackable · Writings"
  headline="Technology is hackable"
  lede="It doesn't really matter our point of view on what is technology or what it does. We must accept technology is the biggest construct on our bleep of existence."
>
  <p><img loading="lazy" src="/assets/writings/technology-is-hackable/technology-is-hackable_001.webp" alt="" /></p>
  <p>It doesn't really matter our point of view on what <em>is</em> technology or what it <em>does.</em> We must accept technology is the biggest construct on our bleep of existence.</p>
  <p>We can argue about language being technology, but we can't really do the same with platforms/channels/systems, not now.</p>
  <p>Everything can and will be manipulated, in fact, everything IS manipulated.</p>
  <p>If we don't accept that fact, we don't really understand or care. Both are really dangerous circumstances, both for the nature and its consequences.</p>
  <p>Humanity can not sustain more development without a critical approach to its existence, more specifically humans, as single beings, can't.</p>
  <p>The amount of resources needed to comprehend everything, literally, limit our understanding of ourselves as beings, so we rapidly attach ourselves to the nearest more digestible framework of information in order to make sense of our existence.</p>
  <p>Problem is the framework we choose to use contains as many revisions as people have chosen to. Frameworks being a tool, have purposes. Do we fully understand those purposes? Who were those who decided what those purposes were? Do we really agree on them?</p>
  <p>More importantly, can we modify, both frameworks and purposes, in order to improve them?</p>
  <p>If so, who else already did it, how and why?!</p>
  <p>We can't understand everything, but we can always stand on the shoulders of giants and try, so others can do the same.</p>
  <p><em>We are technology</em></p>
  <p>We: become, constructed, developed, inherited, discovered, interpreted, decanted; Technology.</p>
  <p>Now what part of your existence will you hack now?</p>
</ArticleLayout>
