---
const year = new Date().getFullYear()
---
<footer class="site-footer">
  <h2>Find me at</h2>
  <ul class="social-links">
    <li>
      <a href="https://github.com/pablonoel" class="social-github" target="_blank" rel="noopener noreferrer">Github</a>
    </li>
    <!-- <li>
      <a href="https://instagram.com/pablonoel" class="social-instagram" target="_blank" rel="noopener noreferrer">Instagram</a>
    </li> -->
    <li>
      <a href="https://medium.com/@pablonoel/" class="social-medium" target="_blank" rel="noopener noreferrer">Medium</a>
    </li>
    <li>
      <a href="https://codepen.io/pablonoel/" class="social-codepen" target="_blank" rel="noopener noreferrer">Codepen</a>
    </li>
    <li>
      <a href="https://linkedin.com/in/pablonoel/" class="social-linkedin" target="_blank" rel="noopener noreferrer">Linkedin</a>
    </li>
  </ul>
  <div class="footer-copy">
    <p>Made with love and coffee</p>
    <p>&copy; {year} Pablo Noel</p>
  </div>
</footer>
