---
---
<header class="site-header">
  <a class="logo" href="/">@pablonoel</a>
  <nav class="nav">
    <a href="/about/">About</a>
    <a href="/work/">Work</a>
    <a href="/photography/">Photography</a>
    <a href="/writings/">Writings</a>
  </nav>
</header>
