---
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
---

<ArticleLayout
  pageTitle="Kidlinks · Work"
  headline="Kidlinks"
  lede="KidLinks financially supports therapeutic music initiatives and free/low-cost treatment programs for children with developmental, behavioral, and learning challenges as well as mental health needs."
  articleClass="work"
>

  <div class="box overview">
    <h3 id="overview">Overview</h3>
    <p>KidLinks financially supports therapeutic music initiatives and free/low-cost treatment programs for children with developmental, behavioral, and learning challenges as well as mental health needs. KidLinks has also developed Therapeutic Music Entertainment, giving patients and families in hospitals, care centers, classrooms, and homes everywhere digital access to healthy and entertaining musical content.</p>
    <ul class="sheet">
      <li><strong>Website: </strong><a href="https://www.kidlinks.org/">kidlinks.org</a></li>
      <li><strong>Client:</strong> Kidlinks</li>
      <li><strong>Team:</strong> Next Solutions</li>
      <li><strong>Role:</strong> Product Design, UI, UX and Interaction Design, Frontend Engineer</li>
      <li><strong>Tools:</strong> Figma, Trello, Bitbucket, Symfony/Twig, SASS/CSS</li>
      <li><strong>Year:</strong> 2018</li>
    </ul>
  </div>

</ArticleLayout>
