---
import BaseLayout from './BaseLayout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'

interface Props {
  pageTitle: string
  headline: string
  lede?: string
  articleClass: string
}
const { pageTitle, headline, articleClass, lede = '' } = Astro.props
---
<BaseLayout title={pageTitle} description={lede || undefined}>
  <Header />
  <main class="wrapper">
    <section class="section">
      <Hero headline={headline} lede={lede} />
      <article class={`article ${articleClass}`}>
        <slot />
      </article>
    </section>
  </main>
</BaseLayout>
